body {
    text-align: center;
    background-image:url(../images/art.jpg)
}


.head{
  display: inline-block;
}

.div{
  display: inline-block;
  float:right;
  margin-top:100px;
  margin-right:100px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  display:inline-block;
  padding-bottom: 50px;
  text-align: center;
  padding-left:50px;
  font-family: 'Monoton', cursive;
  color:white;
}

.can{
 
}

.container{
  display: block;
  font-family: 'Faster One', cursive;
  
}

.heart {
    color:red;
    display: block;
    padding-bottom: 50px;
}

.heart ul{
  margin:0;
  padding: 0;
  width:100px;
  display:inline-block;
}

.heart li {
    list-style: none;
    display: inline-block;
}

.restart {
    cursor: pointer;
    padding:0;
    margin:0;
    border:0;
}

.lives{
  width:20px;
}


.res{
  width:100px;
}
.res1{
  width:70px;
  height: 40px;
}
#bold {
  font-weight: bold;
  font-size:40px;
  padding-right: 100px;
}

.none {
  display:none;
}

/*
 * Styles for the Modal
 */

.modal {
  position: fixed;
  left: 40%;
  right:40%;
  top: 35%;
  bottom: 0%;
  z-index: 3;
  width: 20%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
    }

.modal-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:linear-gradient(#e55d87,#5fc3e4);
  width: 40rem;
  height:35rem;
  border-radius: 0.5rem;
  font-family: 'Poor Story', cursive;
  font-size:18px;
}

h2.congrat {
  text-align: center;
  font-family: 'Monoton', cursive;
}

.button {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: blue;
  border-color: #42e8f4;
  border-radius: 1em;
  cursor: pointer;
}

.remove-modal{
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

}

.modal-overlay {
  width: 100%;
  height: 100%;
  z-index: 2; /* places the modalOverlay between the main page and the modal dialog */
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

/*
 * Styles for the Modal2
 */

.modal2 {
  position: fixed;
  left: 40%;
  right:40%;
  top: 35%;
  bottom: 0%;
  z-index: 3;
  width: 20%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }

.modal-content2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:linear-gradient(#e55d87,#5fc3e4);
  font-family: 'Poor Story', cursive;
  padding: 1rem;
  width: 30rem;
  height:28rem;
  border-radius: 0.5rem;
}

h2.congrat2 {
  text-align: center;
  font-family: 'Monoton', cursive;
}

.button2 {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: blue;
  border-color: #42e8f4;
  border-radius: 1em;
  cursor: pointer;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

img.lag {
  padding-top: 50px;
  width:150px;
  height:150px;
}

/*
 * Styles for the Modal3
 */

.modal3 {
  position: fixed;
  left: 40%;
  right:40%;
  top: 35%;
  bottom: 0%;
  z-index: 3;
  width: 20%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }

.modal-content3 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:linear-gradient(#e55d87,#5fc3e4);
  font-family: 'Poor Story', cursive;
  font-size:20px;
  padding: 1rem 1.5rem;
  width: 30rem;
  height:28rem;
  border-radius: 0.5rem;
}

h2.congrat3 {
  text-align: center;
  font-family: 'Monoton', cursive;
}

.button3 {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: blue;
  border-color: #42e8f4;
  border-radius: 1em;
  cursor: pointer;

}

.show-modal2 {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
